header{
    background-color: nth($clrs , 1 );
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 10px nth($clrs, 1 );
    
   img{
    height: 100px;
    width: 100px;
   }
   h1{
    display: inline;
    color: nth($clrs, 5 );
   }
}

.div-h{
    margin: 0px 50px;
    display: flex;
    gap: 25px;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 50px;
    gap: 75px;
    a{
        text-decoration: none;
        color: nth($clrs, 5 );
        font-size: 20px;
    }
}

@media (hover:hover){
    nav a:hover{
        color: nth($clrs, 2 );
    }
}

@media (max-width:825px){
    header{
        padding-top:15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav{
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding-bottom: 25px;
       
    }
}